* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Gotham', sans-serif;
  background: #ffffff; }

.container {
  width: 70%;
  margin: auto; }

.reg-box {
  display: flex;
  flex-direction: column;
  height: 100vh; }
  .reg-box header {
    font-family: 'Gotham', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 58px;
    flex-grow: 0.5;
    padding: 20px 0 0 0; }
    .reg-box header span.main {
      color: #16CAD6; }
    .reg-box header span.muted {
      color: #212121; }
  .reg-box .content {
    display: flex;
    flex-direction: column;
    flex-grow: 50; }
    .reg-box .content form {
      display: flex;
      flex-direction: column;
      padding: 20px 0 20px 0; }
      .reg-box .content form label {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 20px 5px 10px 5px;
        color: #16CAD6; }
      .reg-box .content form small {
        font-size: 12px;
        color: #888888;
        margin-left: 5px; }
      .reg-box .content form .submit-register {
        width: 100%;
        display: flex;
        flex-direction: row-reverse; }
        .reg-box .content form .submit-register button {
          font-size: 13px;
          display: flex;
          padding: 15px 20px 15px 20px;
          margin-right: 5px;
          background: #16CAD6;
          border: 1px solid #16CAD6;
          color: #fafafa;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-family: 'Montserrat',sans-serif;
          font-weight: 500;
          cursor: pointer; }
      .reg-box .content form .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .reg-box .content form .form-group input {
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          height: 40px;
          padding: 0 25px 0 25px;
          margin: 3px 5px 5px 5px;
          font-family: 'Gotham', sans-serif;
          border: 1px solid #e7e7e7;
          color: #333333; }
        .reg-box .content form .form-group input::-webkit-input-placeholder {
          color: #888888; }
        .reg-box .content form .form-group input:focus {
          outline: 0;
          border: 1px solid #16CAD6; }
    .reg-box .content form:nth-child(3) .form-group {
      color: red !important; }
  .reg-box footer {
    flex-grow: 0.4;
    background: linear-gradient(45deg, #16CAD6, #0393C9);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #888888;
    padding: 12px 0 12px 0;
    color: #e7e7e7; }
