<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Punta ka sa partials/head.ejs tas dun mo lagay dependencies mo (CSS, JS, ETC) -->
  <!-- Tapos yung mismong CSS file ilagay mo sa /public/css -->
  <!-- Eto yung production na folder structure na susundin natin. So, get used to it XD -->
  
    <% include ../partials/head %>
    <title> Dashboard </title>
</head>
<body>

</body>
</html>