<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container">
       
    <section class="main">
        <h1> Node.js Boilerplate</h1>
        <div class="separator"></div>
         
        
    </section>
    <!--  Footer  -->
    <footer>
        <% include ../partials/footer %>
    </footer>    
    </div>
</body>
</html>